---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  // {
  //   date: "Actualmente...",
  //   title: "Creador de Contenido",
  //   company: "Youtube",
  //   description:
  //   "Realizo proyectos de programación y resuelvo ejercicios de lógica explicados paso a paso. Principalmente en Python.",
  //   link: "https://twitch.tv/midudev",
  // },
  {
    date: "2025 - Actualmente...",
    title: "Desarrollador Backend",
    company: "Freelance",
    description:
    "He realizado una aplicacion web llamada SmartHome Manager, Proyecto para gestionar propiedades, alquileres y gastos. Tecnologías: FastAPI, Python, SQLAlchemy, PostgreSQL, Next.js, React, Tailwind, Docker",
    link: "https://github.com/JRA2002/SMARTHOME_MANAGER",
  },
  {
    date: "2021 - 2025",
    title: "Soporte Tecnico Remoto",
    company: "Freelance",
    description:
    "He trabajado como profesional freelance prestando servicios de soporte técnico remoto, ayudando a usuarios a resolver incidencias relacionadas con software, conectividad, sistemas operativos y herramientas digitales, sin intervención física en los equipos.",
    link: "",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
