---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Creador de Contenido",
    company: "Youtube",
    description:
    "Realizo proyectos de programación y resuelvo ejercicios de lógica explicados paso a paso. Principalmente en Python.",
    link: "https://twitch.tv/midudev",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
