---
const personalImageAlt = "Javier Rojas"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import Curriculum from "./icons/Curriculum.astro"
---

<div class="space-y-8">
  <div class="flex flex-col-reverse md:flex-row items-center md:items-start gap-6 mb-4">
    <div class="text-center md:text-left">
      <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
        Hola, soy Javier Rojas
      </h1>
      <p class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
        <strong>Python Developer y Programador Web</strong> en La Rioja, Espa침a 游쀯릖.  
        Me enfoco en el an치lisis y la resoluci칩n de problemas.
      </p>
    </div>
    <!-- <img class="rounded-full shadow-lg size-32 md:size-40 lg:size-48" src="/me.jpeg" alt={personalImageAlt} /> -->
  </div>
  
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:javier_2790@outllok.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/javier-rojas90/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/JRA2002">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="cv.pdf">
      <Curriculum class="size-4" />
      Hoja de Vida
  </nav>
</div>
